/* AllProductsPage.module.css */

/* Wrapper for full width */
.pageWrapper {
  width: 100%;
  background-color: #f9f9f9; /* Light background color */
}

/* Categories section styling */
.categoriesContainer {
  background-color: #f5f5f5; /* Full-width background color */
  padding: 40px 0;
}

.categoryGroup {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.categoryButton {
  border: 1px solid #e0e0e0; /* Border around each category */
  font-size: 14px;
}

/* Products Section */
.productsSection {
  margin-top: 40px;
}

.productCard {
  position: relative;
  overflow: hidden;
  text-align: left;
}

.priceContainer {
  display: flex;
  align-items: baseline;
}

.durationButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.topHeading {
  text-align: center;
}
.categoryName {
  text-align: center;
  margin-bottom: 1.5rem;
}
.linkCard {
  text-decoration: none;
}
.cardBadge {
  font-size: 8px !important;
}
.cardName {
  text-decoration: none;
  color: #000;
}
