.comboCart {
}

.productBlock {
  position: relative;
  text-align: center;
}

.productCard {
  padding: 10px;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.plusSign {
  font-size: 24px !important;
  font-weight: bold !important;
  color: #333 !important;
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
}
.pricing {
  display: flex;
  column-gap: 10px;
}
.originalPrice {
  text-decoration: line-through;
  font-weight: 500;
}
.sellingPrice {
  font-size: 18px;
  font-weight: 700;
}
.discount {
  color: #fff;
  position: absolute;
  top: 10px;
  background: #40c057;
  padding: 3px 7px;
  font-size: 10px;
  border-radius: 25px;
  font-weight: 700;
  text-transform: uppercase;
  left: 10px;
}
