.carouselContainer {
  cursor: pointer;
}
.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.bannerImage {
  width: 100%;
  height: calc(100dvh - 60dvh);
  object-fit: cover;
  transition: transform 0.3s ease;
}

.bannerImage:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.description {
  font-weight: 500 !important;
}
.button {
  min-width: 158px !important;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .bannerImage {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .bannerImage {
    height: 180px;
  }
}
