.carouselContainer {
}
.sectionWrapper {
  background-color: #e73c560a;
  padding-top: 70px;
  padding-bottom: 70px;
}
.pills {
  /* margin-bottom: 20px; */
}
.tabsList {
  justify-content: center !important;
  /* margin-bottom: 3rem !important; */
  gap: 8px 1rem !important;
}
.tabRoot {
  background-color: transparent !important;
}
.pills a {
  text-decoration: none;
  color: inherit;
  font-weight: 600 !important;
  padding: 10px;
  display: block;
  background-color: rgb(231, 60, 86);
  color: #fff;
  border-radius: 25px;
}
.pills a:hover {
  background-color: rgba(231, 60, 86, 0.793);
}

.discountBadge {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  font-size: 12px;
  text-decoration: none;
}

.productName {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.carouselIndicator {
  background-color: #f8b400; /* Custom color for indicators */
}

.card {
  position: relative;
  padding-bottom: 15px;
}

button {
  /* background-color: #f8b400; */
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  /* background-color: #e09e00; */
}
.titleBestSeller {
  text-align: center;
  margin-bottom: 3rem !important;
}
.linkCard {
  text-decoration: none !important;
}
.tabNames {
  font-size: 16px;
}
